---
title: COMP4403 Lecture Notes
single_page_exclude: true
---

<h1>COMP4403 &mdash; Compilers and Interpreters</h1>

<p>
Lectured by Ian Hayes at UQ in Semester 1 of 2020. Notes typed by Kenton Lam.
All mistakes are almost surely my own.
</p>

<p>
<strong>Useful links:</strong>
<a href="/Single%20Page/">single page view</a>.
</p>

{% include 'list.njk' %}
